.song {
  display: flex;
  margin-bottom: 10px;
}

.song-singer {
  margin-left: 5px;
}

.song-mod {
  margin-left: auto;
  button {
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
      scale: 1.3;
    }
  }
}
