.movie {
  position: relative;
}

.movie h2 {
  max-width: 200px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.heartIcon {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-bottom: 25px;
  color: red;
  &:hover {
    cursor: pointer;
  }
}